@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'DynaPuff', cursive;
  color: #eee;
  background-color: #222;
  /* background-color: #60b347; */
}

/* ELEMENTS STYLE */
h1 {
  font-size: 4rem;
  text-align: center;
  width: 100%;
  left: 50%;
  padding: 10px;
}

.number {
  background: #eee;
  color: #333;
  font-size: 6rem;
  width: 15rem;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  bottom: 0;
  border-radius: 6px;
}

.between {
  font-size: 1.4rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.again {
  top: 2rem;
  left: 2rem;
}

.guess {
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 15rem;
  text-align: center;
  margin: 0 auto;
  display: block;

}

.info {
  background-color: #FFF;
  color: #333;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
  border-radius: 6px;
}

.btn:hover {
  background-color: #ccc;
}

.btn-row {
  position: inherit;
  padding: 10px;
  text-align: center;
}

.message {
  margin-bottom: 8rem;
  height: 3rem;
  text-align: center;
  padding: 10px;
  font-size: 2rem;
}

.label-score {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  text-align: center;
}

.label-highscore {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  text-align: center;
}


.container {
  width: 720px;
  margin: 0 auto;
  background-color: #EFC050;
  margin-top: 20px;
  border-radius: 6px;

}